@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Subscription Tracker</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

<div class="text-center">
<h2>This App is used to add, track, edit, and delete your subscriptions that you do not want to pay anymore. Say goodbye to subscription fees that pile up every so often, and say hello to your money!</h2>

</div>
